/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap&subset=cyrillic-ext');
/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* font-family: "Poppins", sans-serif; */

    @font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/* font-family: "Helvetica Neue", sans-serif;  */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/* -------------------------------------- */

.header {
    padding: 50px;
    text-align: center;
    background-color: #29C3BE;
    margin: 0 0 200px;
}

.header__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}
/* -------------------------------------- */

.main__doggie-block {
    margin: 0 auto;
    position: relative;
}

.doggie-block {
    max-width: 1020px;
    background: url("../img/blob.png") -10px 265px no-repeat,#5D62B5;
    border-radius: 40px;
    padding: 100px 87px 354px 87px;
}

.doggie-block::after {
    content: "";
    background: url("../img/circles.svg");
    width: 201px;
    height: 317px;
    position: absolute;
    top: -110px;
    right: -75px;

}

.content-block__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #F5F5F5;
    background: url("../img/mark.svg") 0 0 no-repeat;
    padding: 0 0 0 32px;
    margin: 0 0 33px 0;
}

.content-block__title {
    max-width: 583px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin: 0 0 36px 0;
}

.content-block__text {
    max-width: 846px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}
.main__image-block {
    position: relative;
    margin: -300px auto 200px;
}
.image-block {
    max-width: 846px;
}
.image-block__item {
    border-radius: 40px;
}
/* -------------------------------------- */
.footer {
    padding: 50px;
    background-color: #29C3BE;
    text-align: end;
}

.footer__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}